<div class="grid grid-cols-1 sm:grid-cols-2 h-full">
  <!-- Left -->
  <div
    #pokemonViewRef
    class="sidebar flex flex-col flex-1 grid-cols-1 {{
      this.pokemonSpecies?.color?.name || 'default'
    }}-gradient min-h-screen"
  >
    <!-- Left top bar -->
    <div class="flex p-2 bg-gray-500/30 h-min max-h-screen text-white">
      <!-- Left -->
      <div
        matTooltip="Egg Group(s)"
        class="flex-1 font-bold m-auto text-white text-center align-middle p-1 rounded-md text-lg uppercase break-words"
      >
        <span class="fa-solid fa-egg align-middle">&nbsp;</span>
        <span class="text-xs align-middle">
          {{ this.eggGroups.join(", ") || "?" }}
        </span>
      </div>
      <!-- Middle -->
      <span
        class="flex-1 whitespace-nowrap self-center m-auto text-lg font-bold gap-2 flex"
      >
        <span>
          {{ pokedex.identifierToReadableName(this.pokemonName) }}
        </span>
        <app-poketype
          *ngFor="let TName of this.pokemon?.types"
          pokemonType="{{ TName.type.name }}"
        ></app-poketype>
      </span>
      <!-- Right -->
      <div class="flex-1 text-lg text-center self-center" matTooltip="Weight">
        <span class="fa-solid fa-weight-hanging text-white"></span>
        <span class="text-white text-bold">
          {{ this.pokemon?.weight || "?" }}
        </span>
      </div>
    </div>
    <!-- Pokemon preview -->
    <div class="flex-1 flex justify-center align-middle">
      <img
        class="object-contain p-4 pixelated w-full h-auto"
        src="{{
          this.pokemon
            ? this.pokemon.sprites.front_default || '/assets/img/MISSINGNO.webp'
            : '/assets/img/MISSINGNO.webp'
        }}"
        alt="Photo
        of a {{ pokedex.identifierToReadableName(this.pokemonName) }}"
      />
    </div>
  </div>
  <!-- Right -->
  <div class="flex-1">
    <!-- Stats: HP, Attack, defence Sp. Atk, Sp. Def, Speed, Total -->
    <!-- Use a 2 by 6 grid -->
    <div
      class="grid grid-cols-2 p-2 bg-white rounded-lg shadow-lg m-4 stats-card"
    >
      <div>
        <h4>Stats</h4>
      </div>
      <div>
        <h4>Base</h4>
      </div>
      <div class="bg-red-500 text-white">
        <h4>HP</h4>
      </div>
      <div class="bg-red-300 shadow-lg">
        <h4>{{ getStatStr("hp") }}</h4>
      </div>
      <div class="bg-orange-500 text-white">
        <h4>Attack</h4>
      </div>
      <div class="bg-orange-300">
        <h4>{{ getStatStr("attack") }}</h4>
      </div>
      <div class="bg-yellow-500 text-white">
        <h4>Defence</h4>
      </div>
      <div class="bg-yellow-300">
        <h4>{{ getStatStr("defense") }}</h4>
      </div>
      <div class="bg-blue-500 text-white">
        <h4>Sp. Atk</h4>
      </div>
      <div class="bg-blue-300 text">
        <h4>{{ getStatStr("special-attack") }}</h4>
      </div>
      <div class="bg-green-500 text-white">
        <h4>Sp. Def</h4>
      </div>
      <div class="bg-green-300">
        <h4>{{ getStatStr("special-defense") }}</h4>
      </div>
      <div class="bg-pink-500 text-white">
        <h4>Speed</h4>
      </div>
      <div class="bg-pink-300">
        <h4>{{ getStatStr("speed") }}</h4>
      </div>
    </div>
  </div>
</div>
