<div class="h-full flex flex-col sm:flex-row">
  <!-- Left -->
  <div class="flex-1 grid grid-cols-1 card-gradient">
    <div class="flex p-2 bg-gray-100/30 h-min">
      <!-- Left -->
      <div class="flex-1"></div>
      <!-- Middle -->
      <span
        class="flex-1 whitespace-nowrap justify-center m-auto text-white text-lg font-bold"
      >
        <span> Raikou </span>
        <span class="bg-red-300 p-1 rounded-md text-sm text-white"
          >&nbsp; FIRE &nbsp;
        </span>
      </span>
      <!-- Right -->
      <div class="flex-1 text-end text-lg">
        <i class="fa-solid fa-weight-hanging text-white"></i>
        <span class="text-white text-bold"> 69.0 </span>
      </div>
    </div>
    <div>
      <img
        class="p-2 m-auto w-[90%] h-auto object-contain"
        src="https://img.pokemondb.net/sprites/home/normal/raikou.png"
        alt="Photo
        of a Raikou"
      />
    </div>
    <div>stuff</div>
  </div>
  <!-- Right -->
  <div class="flex-1">
    <!-- Stats: HP, Attack, defence Sp. Atk, Sp. Def, Speed, Total -->
    <!-- Use a 2 by 6 grid -->
    <div
      class="grid grid-cols-2 p-2 bg-white rounded-lg shadow-lg m-4 stats-card"
    >
      <div>
        <h4>Stats</h4>
      </div>
      <div>
        <h4>Base</h4>
      </div>
      <div class="bg-red-500 text-white">
        <h4>HP</h4>
      </div>
      <div class="bg-red-300 shadow-lg">
        <h4>90</h4>
      </div>
      <div class="bg-orange-500 text-white">
        <h4>Attack</h4>
      </div>
      <div class="bg-orange-300">
        <h4>85</h4>
      </div>
      <div class="bg-yellow-500 text-white">
        <h4>Defence</h4>
      </div>
      <div class="bg-yellow-300">
        <h4>75</h4>
      </div>
      <div class="bg-blue-500 text-white">
        <h4>Sp. Atk</h4>
      </div>
      <div class="bg-blue-300 text">
        <h4>115</h4>
      </div>
      <div class="bg-green-500 text-white">
        <h4>Sp. Def</h4>
      </div>
      <div class="bg-green-300">
        <h4>100</h4>
      </div>
    </div>
  </div>
</div>
