<div
  (click)="onClick()"
  class="grid p-2 w-[150px] h-[245px] card-gradient rounded-xl transform transition hover:scale-110 cursor-pointer select-none"
  matBadge="#{{ this.displayNumber || '?' }}"
  matBadgePosition="before"
  matBadgeColor="primary"
>
  <!-- Card Header (img) -->
  <div
    class="bg-{{ this.cardColor }}-500
  bg-{{ this.cardColor }}
  bg-opacity-15
  rounded-t-lg w-full"
  >
    <img
      class="p-2 m-auto w-[90%] h-auto min-h-[50%] object-contain"
      src="{{
        this.pokemon
          ? this.pokemon.sprites.front_default || '/assets/img/MISSINGNO.webp'
          : '/assets/img/MISSINGNO.webp'
      }}"
      alt="Photo
    of a {{ pokedex.identifierToReadableName(this.pokemonName) }}"
    />
  </div>

  <!-- Card Content num/name/etc -->
  <!-- {{this.cardColor}}-300  -->
  <div
    class="card-content rounded-b-lg place-items-center font-bold text-md bg-gradient-to-r from-cyan-500 to-blue-500"
  >
    <div
      class="card-content-top card-label-bg text-white p-1 h-min w-full text-center card-gradient justify-center align-middle flex"
    >
      {{ pokedex.identifierToReadableName(this.pokemonName) }}
    </div>

    <div class="card-content-bottom inline-flex flex-wrap gap-4">
      <app-poketype
        *ngFor="let TName of this.pokemon?.types"
        pokemonType="{{ TName.type.name }}"
      ></app-poketype>
    </div>
  </div>
</div>
