.card-gradient {
	// Default background gradient
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.card-sprite-container {
	position: relative;
}

// circle gradient comming from center
.card-sprite {
	filter: saturate(200%);
}

.card-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
	opacity: 0.3
}








// Card label
.card-label-bg {
}

// Card content grid

.card-content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	}
	
.card-content-top { 
	grid-area: 1 / 1 / 2 / 3;
	color: white;
	text-shadow: 0 0 5px black;
}
.card-content-bottom { grid-area: 2 / 1 / 3 / 3; }

// Override badge size
.mat-badge-content {
	margin-right: 1rem;
	margin-top: 1rem;
	width: 30px;
	height: 30px;
	line-height: 30px;
	background: rgb(255, 255, 255);
	color: black;
}