<!-- 2 Horizontal flex boxes (Filter, Search) -->
<div class="flex flex-col sm:flex-row">
  <!-- Search/Filters -->
  <div class="p-4 flex-1 flex-row bg-red-100">
    <mat-form-field appearance="standard" class="w-full">
      <mat-label>Pokémon name or number</mat-label>
      <span matPrefix class="fa-solid fa-magnifying-glass">&nbsp;</span>
      <input class="" type="text" matInput placeholder="Charizard" />
    </mat-form-field>
  </div>

  <!-- Search Results -->
  <div class="p-4 bg-green-100">
    <div
      class="bg-red-100 self-center ml-0 mr-0 mt-0 flex flex-wrap justify-center gap-4"
    >
      <app-pokecard></app-pokecard>
      <app-pokecard></app-pokecard>
      <app-pokecard></app-pokecard>
      <app-pokecard></app-pokecard>
      <app-pokecard></app-pokecard>
      <app-pokecard></app-pokecard>
      <app-pokecard></app-pokecard>
      <app-pokecard></app-pokecard>
      <app-pokecard></app-pokecard>
      <app-pokecard></app-pokecard>
      <app-pokecard></app-pokecard>
      <app-pokecard></app-pokecard>
      <app-pokecard></app-pokecard>
      <app-pokecard></app-pokecard>
      <app-pokecard></app-pokecard>
    </div>
  </div>
</div>
